
html{
    scroll-behavior:smooth;
}
nav{
    background:#111;
    color:white;
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:15px 40px;
    position:sticky;
    top:0;
}

nav ul{
    display:flex;
    list-style:none;
}

nav ul li{
    margin-left:20px;
    background:none;
}

nav ul li a{
    color:white;
    text-decoration:none;
    font-weight:bold;
}

nav ul li a:hover{
    color:#d2b48c;
}

.logo{
    color:white;
}
body{
    margin:0;
    padding:0;
    font-family:Arial, sans-serif;
    background:#f4f4f4;
}

header{
   background:linear-gradient(135deg,#5c4033,#8b5e3c);
    color:white;
    text-align:center;
    padding:60px 20px;
}

header h1{
    font-size:48px;
    margin-bottom:10px;
}

header p{
    font-size:20px;
}

section{
    background:white;
    margin:20px;
    padding:20px;
    border-radius:10px;
    box-shadow:0 0 10px rgba(0,0,0,0.1);
    transition:0.3s;
}
section:hover{
    transform:translateY(-5px);
}

h2{
    color:#333;
}

ul{
    list-style:none;
    padding:0;
}

li{
    background:#8b5e3c;
    color:white;
    display:inline-block;
    padding:10px 15px;
    margin:5px;
    border-radius:5px;
}

input, textarea{
    width:100%;
    padding:10px;
    margin-top:10px;
    border:1px solid #ccc;
    border-radius:5px;
}

button{
    margin-top:15px;
    padding:10px 20px;
    background:#8b5e3c;
    color:white;
    border:none;
    border-radius:5px;
    cursor:pointer;
    transition:0.3s;
}

button:hover{
    background:#5c4033;
    transform:scale(1.05);
}
.project-card{
    background:#f9f9f9;
    padding:15px;
    margin-top:15px;
   border-left:5px solid #8b5e3c;
    border-radius:8px;
    transition:0.3s;
}

.project-card:hover{
    transform:scale(1.02);
}
.profile-pic{
    width:150px;
    height:150px;
    border-radius:50%;
    object-fit:cover;
    border:5px solid white;
    margin-bottom:20px;
}
.social-links{
    margin-top:20px;
}

.social-links a{
    text-decoration:none;
    color:white;
    background:#5c4033;
    padding:10px 15px;
    margin:5px;
    border-radius:5px;
    display:inline-block;
    transition:0.3s;
}

.social-links a:hover{
    background:#3e2c23;
    transform:scale(1.05);
}
footer{
    background:#111;
    color:white;
    text-align:center;
    padding:20px;
    margin-top:30px;
}